.ol-overlaycontainer-stopevent {
  /* Disable unselectable layer */
  width: auto !important;
  height: auto !important;
}

.ol-control button {
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #028090;
  padding: 8px;
  width: 36px;
  height: 36px;
  border-radius: 4px !important;
  color: #028090;
}

.ol-control button:hover,
.ol-control button:active,
.ol-control button:focus {
  border: 2px solid #02809090 !important;
  background: #ffffff !important;
}

.ol-zoom {
  top: 0.5em;
  left: 0.5em;
}
